In [44]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [45]:
df_main=pd.read_csv("/Users/y2z/Desktop/DATASETS/Iris.csv")

In [46]:
df_main.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
133,134,6.3,2.8,5.1,1.5,Iris-virginica
102,103,7.1,3.0,5.9,2.1,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
42,43,4.4,3.2,1.3,0.2,Iris-setosa
126,127,6.2,2.8,4.8,1.8,Iris-virginica

In [47]:
species_mapping={'Iris-virginica':1,'Iris-setosa':2,'Iris-versicolor':3}
df_main['Species_new']=df_main['Species'].map(species_mapping)

In [48]:
df_main.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species_new
11,12,4.8,3.4,1.6,0.2,Iris-setosa,2
80,81,5.5,2.4,3.8,1.1,Iris-versicolor,3
17,18,5.1,3.5,1.4,0.3,Iris-setosa,2
6,7,4.6,3.4,1.4,0.3,Iris-setosa,2
49,50,5.0,3.3,1.4,0.2,Iris-setosa,2

In [49]:
df_main=df_main.drop('Species',axis=1)

In [50]:
df_main.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species_new
0   1            5.1           3.5            1.4           0.2            2
1   2            4.9           3.0            1.4           0.2            2
2   3            4.7           3.2            1.3           0.2            2
3   4            4.6           3.1            1.5           0.2            2
4   5            5.0           3.6            1.4           0.2            2

In [51]:
df_main=df_main.drop('Id',axis=1)

In [52]:
df_main.corr()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_new
SepalLengthCm,1.000000,-0.109369,0.871754,0.817954,-0.322522
SepalWidthCm,-0.109369,1.000000,-0.420516,-0.356544,-0.192719
PetalLengthCm,0.871754,-0.420516,1.000000,0.962757,-0.299942
PetalWidthCm,0.817954,-0.356544,0.962757,1.000000,-0.375715
Species_new,-0.322522,-0.192719,-0.299942,-0.375715,1.000000

In [53]:
df_target=df_main['Species_new']
df=df_main.drop('Species_new',axis=1)

In [54]:
x_train,x_test,y_train,y_test=train_test_split(df,df_target,test_size=.2)

In [55]:
from sklearn.linear_model import LogisticRegression

In [56]:
logreg=LogisticRegression()
logreg.fit(x_train,y_train)
y_pred=logreg.predict(x_test)
prediction=round(accuracy_score(y_pred,y_test)*100,2)
print(prediction)

100.0

/Users/y2z/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/y2z/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [57]:
y_pred

array([3, 1, 3, 1, 3, 3, 1, 2, 3, 1, 2, 3, 2, 2, 3, 1, 1, 2, 3, 1, 3, 1,
       1, 2, 1, 3, 3, 1, 1, 2])

In [58]:
from sklearn import svm
svm=svm.SVC()
svm.fit(x_train,y_train)
y_pred=svm.predict(x_test)
prediction=round(accuracy_score(y_pred,y_test)*100,2)
print(prediction)

96.67

/Users/y2z/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)